result
.direnv/

.envrc.private

.terraform/
terraform.tfstate
.terraform.lock.hcl
*.tfstate.backup
terraform.tf
backend.tf

.jj/

__pycache__
.pytest_test/
home/.config/rbw/agent.*
home/.config/rbw/device_id
*.sieve
