.DS_Store
.AppleDouble
.LSOverride
._*
*~
*.swp
*.swo
result
result-*
.direnv/
.pi/agent/node_modules

# ck semantic search
.ck/
.ckignore

# CLAUDE.md
CLAUDE.md
CLAUDE.local.md
AGENTS.md
.ai-memory.toml


**/.claude/settings.local.json

.codex

.agents/**
skills-lock.json
