# shellcheck shell=bash
# shellcheck disable=SC2154
use flake ..#terraform

export TG_NON_INTERACTIVE=true

# Avoid Terragrunt's global provider cache. Nix store paths in that cache
# become stale when OpenTofu is garbage-collected.
export TG_NO_AUTO_PROVIDER_CACHE_DIR=1
